@import url("./styles/header.css");
@import url("./styles/apresentaçao.css");
@import url("./styles/sobreMim.css");
@import url("./styles/footer.css");
@import url("./styles/contato.css");
@import url("./styles/projetos.css");


:root {
    --cor-de-fundo: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(35,44,107,1) 77%);
    --cor-texto: #FFFFFF;
    --fonte-principal: "Poppins";
    --font-secundaria: "Inter";
    --azul: #4c46a1;
}

body {
    background: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    text-align: center;
}