@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E2E;
    color: #E6E6E6;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

header img {
    border: 3px solid #000000;
    border-radius: 28px;
    height: 45vh;
    width: 40vh;
}

#presentation {
    margin-left: 90px;
}

header div h1 {
    font-size: 5.5vh;
    color: #8BE9FD;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    margin-bottom: 40px
}

header div h2 {
    font-size: 6vh;
    color: #8BE9FD;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.devSymbol {
    font-size: 6.5vh;
    font-family: "Share Tech Mono", monospace;
    color:#FF5555
}

.emoji {
    font-style: normal;
}

main {
    height: 100vh;
}

#aboutMe {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}

article {
    border-radius: 30px;
    text-align: center;
    width: 70vh;
    height: auto;
    background-color: #282A36;
    padding: 15px;
    overflow: hidden;
    box-shadow: 9px 9px 15px #000000;
    margin-bottom: 20px;
}

h3 {
    color: #FF79C6;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
}

article p {
    color: #fff;
    font-size: 28px;
    font-family: "Inter", sans-serif;
}

article ul li {
    color: #fff;
    font-size: 27px;
    margin-bottom: 2px;
    font-family: "Inter", sans-serif;
}

ul {
    list-style: none;
}

#contacts {
    text-align: center;
    margin-top: 4vh;
}

#contacts h3 {
    color: #8BE9FD;
    font-size: 32px;
    font-weight: 400;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttons div {
    display: flex;
    justify-content: space-evenly;
    margin: 18px;
    flex-wrap: wrap;
}

#buttons button {
    width: 25vh;
    height: 6vh;
    font-size: 25px;
    text-decoration: none;
    transition: 400ms;
    border: 2px solid #8BE9FD;
    background-color: transparent;
    border-radius: 6px;
    color: #E6E6E6;
}

#linkedin:hover {
    color: #0077B6;
    border: 3.5px solid #0077B6
}

#whatsapp:hover {
    color: #25D366;
    border: 3.5px solid #25D366
}

#github:hover {
    color: #ffffff;
    border: 3.5px solid #ffffff
}

#instagram:hover {
    color: #DD2A7B;
    border: 3.5px solid #DD2A7B
}

#linkedin:hover, #whatsapp:hover, #github:hover, #instagram:hover, #email:hover {
    transition:300ms;
    cursor: pointer;
    border-radius: 30px;
    font-size: 26px;
}

#projects {
    margin-top: 14vh;
    text-align: center;
}

#projectEx {
    margin-top: 5vh;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 45px;
    flex-wrap: wrap;
}

#projectImg {
    border: 5px solid black;
    border-radius: 20px;
    width: 70vh;
}

#projectText {
    width: 100vh;
    padding: 30px;
}

h4 {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}

#projectText p {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 20px;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    header img {
        height: 30vh;
        width: 30vh;
        margin-bottom: 20px;
    }

    header div h1, header div h2 {
        font-size: 4vh;
    }

    .devSymbol {
        font-size: 4.5vh;
    }

    article {
        margin-bottom: 50px;
    }

    article p, article ul li {
        font-size: 18px;
    }

    #aboutMe {
        padding: 20px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 25px;
    }

    #projects {
        margin-top: 1vh;
    }

    #projectEx {
        margin-top: 1vh;
        padding: 15px;
        justify-content: center;
    }

    #projectText p {
        font-size: 19px;
    }

    #buttons button {
        font-size: 18px;
        height: 6vh;
        width: 19vh;
    }

    #linkedin:hover, #whatsapp:hover, #github:hover, #instagram:hover, #email:hover {
        transition:300ms;
        cursor: pointer;
        border-radius: 30px;
        font-size: 19px;
    }

    #buttons div {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    header img {
        height: 30vh;
        width: 30vh;
        margin-bottom: 20px;
    }

    header div h1, header div h2 {
        font-size: 4vh;
    }

    .devSymbol {
        font-size: 4.5vh;
    }

    article {
        margin-bottom: 50px;
    }

    article p, article ul li {
        font-size: 18px;
    }

    #aboutMe {
        padding: 20px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 25px;
    }

    #projects {
        margin-top: 1vh;
    }

    #projectEx {
        margin-top: 1vh;
        padding: 15px;
        justify-content: center;
    }

    #projectText p {
        font-size: 19px;
    }

    #buttons button {
        font-size: 18px;
        height: 6vh;
        width: 19vh;
    }

    #linkedin:hover, #whatsapp:hover, #github:hover, #instagram:hover, #email:hover {
        transition:300ms;
        cursor: pointer;
        border-radius: 30px;
        font-size: 19px;
    }

    #buttons div {
        gap: 15px;
    }
}


@media (max-width: 480px) {
    header img {
        height: 30vh;
        width: 30vh;
        margin-bottom: 20px;
    }

    header div h1, header div h2 {
        font-size: 4vh;
    }

    .devSymbol {
        font-size: 4.5vh;
    }

    article {
        margin-bottom: 50px;
    }

    article p, article ul li {
        font-size: 18px;
    }

    #aboutMe {
        padding: 20px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 25px;
    }

    #projects {
        margin-top: 1vh;
    }

    #projectEx {
        margin-top: 1vh;
        padding: 15px;
        justify-content: center;
    }

    #projectText p {
        font-size: 19px;
    }

    #buttons button {
        font-size: 18px;
        height: 6vh;
        width: 19vh;
    }

    #linkedin:hover, #whatsapp:hover, #github:hover, #instagram:hover, #email:hover {
        transition:300ms;
        cursor: pointer;
        border-radius: 30px;
        font-size: 19px;
    }

    #buttons div {
        gap: 15px;
    }
}