@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Share+Tech+Mono&display=swap');


:root {
    --colorBG: #1E1E2E;
    --colorText: #fff;
    --colorPresentation: #8BE9FD;
    --colorTitle: #FF5555;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorBG);
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    border: 3px solid #000000;
    border-radius: 28px;
    width: 20%;
}

#headerDiv {
    margin-left: 5.625rem;
}

h1 {
    font-size: 2.8rem;
    color: var(--colorPresentation);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 2.5rem;
    font-style: italic;
    overflow: hidden; /* Esconde o texto extra */
    white-space: nowrap; /* Evita quebra de linha */
    border-right: 2px solid #333; /* Simula o cursor */
    width: 0; /* Inicialmente, o texto não é visível */
    animation: typing 4s steps(30, end) forwards, blink 0.6s step-end infinite;
}

/* Animação para o texto aparecer */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Mostra o texto completo */
    }
}

/* Animação do cursor piscando */
@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #333;
    }
}

.devSymbol {
    font-size: 3rem;
    font-family: "Share Tech Mono", monospace;
    color:var(--colorTitle);
    font-weight: 600;
}


header div h3 {
    margin-top: 2rem;
    text-align: center;
    color: var(--colorPresentation);
    font-size: 2rem;
    font-weight: 400;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttons div {
    display: flex;
    justify-content: space-evenly;
    margin: 1.13rem;
    flex-wrap: wrap;
}

#buttons button {
    width: 11rem;
    height: 3rem;
    font-size: 1.563rem;
    text-decoration: none;
    transition: 400ms;
    border: 2px solid var(--colorPresentation);
    background-color: transparent;
    border-radius: 6px;
    color: var(--colorText);
}

#linkedin:hover {
    color: #0077B6;
    border: 3.5px solid #0077B6
}

#whatsapp:hover {
    color: #25D366;
    border: 3.5px solid #25D366
}

#github:hover {
    color: #6e6e6e;
    border: 3.5px solid #6e6e6e
}

#instagram:hover {
    color: #DD2A7B;
    border: 3.5px solid #DD2A7B
}

#linkedin:hover, #whatsapp:hover, #github:hover, #instagram:hover, #email:hover {
    transition:300ms;
    cursor: pointer;
    border-radius: 20px;
    font-size: 26px;
}

main {
    height: auto;
}

#aboutMe {
    display: flex;
    justify-content: space-around;
    padding: 1.87rem;
    flex-wrap: wrap;
}

article {
    border-radius: 30px;
    text-align: center;
    width: 45rem;
    height: auto;
    background-color: #282A36;
    padding: 0.938rem;
    overflow: hidden;
    box-shadow: 9px 9px 15px #000000;
    margin-bottom: 1.25rem;
    margin-top: 4rem;
}

h3 {
    color: var(--colorTitle);
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.938rem;
}

article p {
    color: var(--colorText);
    font-size: 1.75rem;
    font-family: "Inter", sans-serif;
}

article ul li {
    color: var(--colorText);
    font-size: 1.7rem;
    margin-bottom: 2px;
    font-family: "Inter", sans-serif;
    padding: 3.5px;
}

ul {
    list-style: none;
}

#projects {
    margin-top: 6rem;
    text-align: center;
}

.projectEx {
    margin-top: 3rem;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.projectEx:nth-child(2n + 1) {
    flex-wrap: wrap-reverse;
}

.projectImg {
    border: 5px solid black;
    border-radius: 20px;
    width: 80%;
}

#projectText {
    width: 45rem;
    padding: 2rem;
}

h4 {
    font-family: "Inter", sans-serif;
    color: var(--colorText);
    font-size: 2.1rem;
    margin-bottom: 1.25rem;
}

#projectText p {
    font-family: "Inter", sans-serif;
    color: var(--colorText);
    font-size: 1.25rem;
}

footer {
    padding: 0.6rem;
    color: var(--colorText);
    background-color: black;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

/* RESPONSIVIDADE */
/* @media (max-width: ) {
   
} */