.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.primeiro_nome {
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0 0 15px rgba(226, 233, 255, 0.5);
}

.segundo_nome {
    font-size: 16px;
    text-align: end;
    font-weight: 300;
    text-shadow: 0 0 15px rgba(226, 233, 255, 0.5);
}

.botoes {
    padding: 0.5em;
}

.botoes_projetos {
    text-decoration: none;
    border-radius: 12px;
    padding: 0.4em 0.7em;
    color: var(--cor-texto);
    border: 1px solid var(--cor-texto);
    margin-right: 0.5em;
}

.botoes_projetos:hover {
    color: #000000;
    background-color: var(--cor-texto);
}


@media screen and (min-width:768px) {

    .primeiro_nome {
        font-size: 32px;
    }

    .segundo_nome {
        font-size: 25px;
    }

    .botoes {
        padding: 1em;
    }

    .botoes_projetos {
        border: 1.3px solid var(--cor-texto);
        font-size: 20px;
    }
}

@media screen and (min-width:1200px) {

    .header {
        padding: 2em;
    }
    
    .primeiro_nome {
        font-size: 36px;
    }
    
    .segundo_nome {
        font-size: 28px;
    }
    
    .botoes_projetos {
        font-size: 24px;
    }
    
}