.projetos_titulo {
    font-size: 50px;
    margin: 1em 0 0.5em 0;
}

.projetos_container {
    text-align: start;
    padding: 1em;
    margin-bottom: 2em;
}

.projetos_container h2 {
    font-size: 1.5em;
    margin: 0.5em 0 1em 0;
}

.projetos_tela {
    width: 20em;
    border-radius: 12px;
    box-shadow: 4px 4px  #000000;
}

.projetos_tela:hover {
    width: 20.3em;
    transition: 400ms;
    box-shadow: 5px 5px  white;
}